async-generator==1.10
attrs==23.1.0
beautifulsoup4==4.12.2
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cssselect2==0.7.0
exceptiongroup==1.1.1
fonttools==4.40.0
h11==0.14.0
html5lib==1.1
idna==3.4
markdown2==2.4.9
outcome==1.2.0
packaging==23.1
pdfkit==1.0.0
Pillow==9.5.0
pycparser==2.21
pydyf==0.6.0
pyphen==0.14.0
PySocks==1.7.1
pytesseract==0.3.10
requests==2.31.0
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
tinycss2==1.2.1
trio==0.22.0
trio-websocket==0.10.3
urllib3==2.0.3
weasyprint==59.0
webencodings==0.5.1
wsproto==1.2.0
zopfli==0.2.2
